@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

html {
    font-family: 'Martian Mono', monospace;
}

html * {
    margin: 0;
    top: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #0a0092, #3d000f, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
#Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#Banner * {
    margin: 20px;
}

#Banner h1 {
    background: -webkit-linear-gradient(#eee, #bdd8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Stalinist One', cursive;
}

#bit {
    width: 250px;
    height: 200px;
    animation: bit 1s infinite;
}

@keyframes bit {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

#Navigator {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,0.2);
    font-family: 'Bruno Ace', cursive;
}

#Navigator h2 {
    margin: 80px;
}

#Navigator h2 {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: 0.2s ease;
}
  
#Navigator h2:hover {
    border-color: rgb(181, 0, 0);
    color: rgb(181, 0, 0);
    font-size: 30px;
}

#Navigator a {
    color: white;
    text-decoration: none;
}
  
.content {
  min-height: 500px;
  background-image: linear-gradient(to bottom right, #ddddff, #e0e0e0, #adcfff);
  color:black;
  padding: 50px;
}

#HomeContent {
  background-color: black;
  display: flex;
  justify-content: center;
}

#HomeContent * {
  margin: 30px;
}

#HomeContentNav {
  background-image: url("./images/server.jpg");
  background-size: cover;
  width: 500px;
  height: 600px;
  border-radius: 5%;
  box-shadow: 10px 20px 40px black;
}

#HomeContentGreeting {
  width: 900px;
  height: 600px;
  border: 0.2px solid rgb(0,0,0,0.2);
  border-radius: 2%;
}

#Home-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Content-Right {
  display: block;
  height: 400px;
}

#Content-Right h1, p {
  margin: 40px;
}

#Home-Image {
  width: 500px;
  height: 300px;
  box-shadow: 0 12px 24px black;
  margin-right: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

#Greeting-Message {
  font-size: 20px;
}

#Greeting-Nav-Wrapper {
  display: flex;
  justify-content: center;
}

.greeting-nav {
  height: 20px;
  width: 20px;
  background-color: #637a92;
  border-radius: 100%;
  transition: 0.5s;
  margin: 20px;
}

.greeting-nav:hover {
  cursor: pointer;
  background-color: #4b5e71;
}

.greeting-nav-dark {
  background-color: #152028;
}

@keyframes fade {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.article {
  margin-bottom: 200px;
  border-radius: 10px;
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
  border: 0.2px solid rgb(0,0,0,0.2);
}

.article:hover {
  background-color: rgb(0,0,0,0.1);
}

.article * {
  margin: 10px;
}

.article p {
  margin-top: 10px;
}

.read-more-link {
  transition: 0.2s;
  color: rgb(181, 0, 0);
}

.read-more-link:hover {
  background-color: rgb(181, 0, 0);
  color: white;
  font-size: 18px;
}

.code {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: white;
}

.article-Content-Wrapper h1 {
  text-align: center;
}

.article-Content-Wrapper h2 {
  margin-left: 35px;
}

#Socials-Content {
  display: flex;
  justify-content: center;
}

#Socials-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.socials-icon {
  margin: 30px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  transition: 0.2s;
  box-shadow: 0 12px 24px black;
}

.socials-icon:hover {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 40px black;
}

#Footer {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}
